/* Colors
/* Dark Teal #69C4CC */
/* Light Teal: #CFEFEE */

/* Starting Point Styles
========================*/

h1, h2, h3, h4, h5, h6: { margin: 0; }
body { 
  background-color: #69C4CC;
}

ul {
  padding: 0;
}

/* Header Styles 
=================*/

/*
.container {
  max-width: 960px;
  margin: 0 auto;
}
*/

header { 
  background-color: #CFEFEE; 
  padding-top: 1.5em;
  max-width: 100%;
}

header section {
  max-width: 780px;
  margin: 0 auto;
  height: 9em;
  margin-top: 4em;
}

#sign_in ul {
  float: right;
  position: absolute;
  top: 0;
  left: 65%;
  margin: 4em 0 1.5em 4em;
}

#sign_in ul li {
  display: inline-block;
}

#sign_in ul li a {
  text-decoration: none;
  color: rgb(21, 149, 158);
}

#sign_in ul li:nth-child(1):after {
  content: " | ";
  padding: 0 0.3em;
  color: rgb(21, 149, 158);
}

#top_links {
  max-width: 100%;
  margin: 0 auto;
  float: right;
}

#top_links ul {
  list-style-type: none;
  padding-right: 1em;
  margin: 4.5em 0 0 0;
}

#top_links ul li {
  display: inline-block;
  padding: 0.1em 0.7em;
  margin: 0;
}

#top_links ul li a {
  text-decoration: none;
  padding: 0.25em 1em;
  color: #FFFFFF;
  font-size: 1em;
}

#top_links ul li:nth-child(1) {
  background-color: rgb(117, 203, 209);
  border-radius: 25px 25px 25px 25px;
}

#top_links ul li:nth-child(2) {
  background-color: rgb(140, 184, 44);
  border-radius: 25px 25px 25px 25px;
}

#top_links ul li:nth-child(3) {
  background-color: rgb(112, 44, 142);
  border-radius: 25px 25px 25px 25px;
}

#top_links ul li:nth-child(4) {
  background-color: rgb(236, 0, 140);
  border-radius: 25px 25px 25px 25px;
}


h1 {
  float: left;
  margin: 0 0 2em 2em;
  padding: 0.5em 0 0 0;
  color: rgb(95, 37, 120);
  width: 25%;
  font-size: 2.7em;
  font-family: 'Comfortaa', cursive;
}

h1 span {
  color: rgb(232, 1, 138);
}

h3 {
  float: right;
  margin-right: 0.5em;
  width: 55%;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  color: rgb(118, 203, 210);
}

nav#main { 
  background-color: #F3CECD; 
  margin: 0 auto;
  padding: 0;
}

nav#main ul {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.2em 0;
}

#main ul li {
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  color: rgb(107, 20, 70);
}

#main ul li a {
  text-decoration: none;
  padding: 0.5em 0.5em;
  margin: 0 1em;
}

#search_term {
  width: 5em;
  text-align: center;
  border-radius: 18px;
}

/* Middle Styles 
==================*/

section {
  background-color: #FFFFFF;
  border-radius: 25px 25px 0 0;
  max-width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

.middle {
  border-radius: 0px 0px 25px 25px;
}

#body_content {
  max-width: 48%;
  margin: 0 auto;
  margin-top: 2em;
}

#body_content {
  float: left;
}

#body_content h2 {
  margin: 0 0 1em 1em;
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  font-size: 1.1em;
  color: rgb(138, 182, 46);
  max-width: 100%;
}

#body_content p {
  color: rgb(88, 180, 187);
  text-align: center;
}

#body_content a {
  background-color: rgb(236, 0, 140);
  border-radius: 25px;
  padding: 0.1em 0.9em;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 2.2em;
  float: right;
  margin-top: 1em;
}

ul li {
  list-style-type: none;
}

.mid_images {
  float: right;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1em;
}

.mid_images li img {
  height: auto; 
  margin-right: 1.5em;
}

/* Social Links
================*/

#social {
  padding: 0;
  margin: 1em 1em;
  clear: both;
}

#social li {
  display: inline-block;
  padding: 0;
  max-width: 85%;
  margin: 0 auto;
}

#social li a {
  text-decoration: none;
}

#social li a img {
  max-width: 85%;
}


/* Footer Styles 
=================*/

footer {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li a {
  text-decoration: none;
  font-size: 0.7em;
  margin: 0 0.5em;
  color: rgb(213, 241, 240);
}

footer nav ul li:nth-child(-n+5):after {
  content: " | ";
  color: rgb(213, 241, 240);
  font-size: 0.7em;
  padding: 0 0.4em;
}

/* Clearfix
============*/

.section:after {
  content: " ";
  display: table;
  clear: both;
}


/* Responsive Notes */
/* What she used...
@media screen and (max-width: 800px) {
  ul#social li {
    width: 50%;
    margin: 0;
  }
}

Change the image sizes (because they come out of the box fixed).  Change their max
width to be 100%, or something similar.  Also use clears.  May need to just clear odds, especially
on the bottom social links, along with other formatting.
*/

/* Responsive
==============*/

@media screen and (max-width: 800px) {
  .middle {
    margin: 0 2em;
    padding: 0 3em;
  }
  #body_content {
    margin: 0 auto;
    float: none;
  }
  #body_content a {
    margin: 0 auto;
    float: none;
  }
  .mid_images {
    display: none;
  }
  #social {
    margin: 0 auto;
  }
  #social li {
    display: inline-block;
    width: 47.5%;
    float: left;
    margin: 0 1.25%;
  }
  #social li:nth-child(odd){
    clear: left;
  }
  #social li a img {
  max-width: 100%;
  }
}

/* Modal
=========*/

/* .login-modal {
  display: none;
} */

.lightbox {
  background: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.login-form {
  border: 2px solid red;
  width: 300px;
  margin: 150px 0 0 -150px;
  text-align: center;
  background: #69C4CC;
  position: absolute;
  top: 0;
  left: 50%;
}

.hidden {
  display: none;
}
